.ant-carousel .slick-slide {
  // text-align: center;
  // height: 450px;
  // line-height: 450px;
  // background: #364d79;
  overflow: hidden;
}

.ant-carousel .slick-slide h3 {
  color: #fff;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 80px 0;
  .cards {
    text-align: center;
    display: flex;
    justify-content: space-around;
    .ant-card {
      width: 350px;
    }
    .title{
      margin: 14px 0;
      font-size: 18px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.33;
      letter-spacing: normal;
      color: #232325;
    }
  }
  .footer {
    text-align: center;
    margin: 20px;
    font-size: 18px;
  }
}

.notice {
  background-color: #fff;
  .center {
    margin: 15px 0;
    .ant-card:nth-child(2n-1) {
      text-align: center;
      font-size: 16px;
      background-color: #e0f7fe;
    }
    .ant-card:nth-child(2n) {
      text-align: center;
      font-size: 16px;
      background-color: white;
    }
  }
  .ant-card-body {
    padding: 20px;
  }
}